.navbar {
  padding: 15px 15% !important;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2) !important;
}

.container-nav {
  padding: 0 10%;
}

.navbar-brand {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 600;
}

.navbar-brand .m-brand {
  color: rgb(87, 190, 231);
  font-style: italic;

  text-transform: uppercase;
  text-decoration: underline;
}

.navbar-nav .nav-link {
  transition: all 0.5s ease-in-out;
  color: white !important;
  font-size: 1.2rem;
  font-weight: 550 !important;
}

.navbar-nav .nav-link:hover {
  font-weight: 700 !important;
}
